@charset "UTF-8";
#cal {
	margin-top: 30px;
	margin-left: 30px;
}

.btn {
	font-weight: bold;
	font-size: 10pt;
	background-color: white;
	padding-top: 3px;
	width: 80px;
	height: 50px;
}

#result {
	height: 40px;
	border: none
}

#table {
	border: 1px solid;
}

#colbtn {
	width: 166px;
}